.landing{
    position: relative;
    display: flex;
    flex-direction: column;
}

.hero{
    z-index: 1;
    position: relative;
    inset: 0;
    width: 100%;
    max-height: 100vh;
    aspect-ratio: 1.5;
    overflow: hidden;
    display: flex;
    align-items: center;

    img{
        position: absolute;
        inset: 0;
        max-width: 100%;
        object-fit:cover;
        
    }
    @media (max-width:768px) {
        width: auto;
        height: 70vh;
        img{
            height: 70vh;
        }
    }
}

.hero__text{
    z-index: 2;
    font-size: 7vw;
    text-align:end;
    width: 50%;
    margin-left: 10%;
    font-style: italic;

    @media (max-width:1024px) {
        font-size: 8vw;
    }

    @media (max-width:425px) {
        font-size: 12vw;
    }
    
}

section{
    z-index: 3;
    background-color: white;
    margin-top: 1rem;
}