.button {
  border-radius: 0.5rem;
  cursor: pointer;
  /*   flex: 1; */
  background-color: transparent;
  color: white;
  font-size: 1rem;
  border: 2px solid white;
  border-radius: 1rem;
  padding-block: 0.2rem;
}
