.cart {
  padding-top: 90px;
  display: flex;
}

.cart__items {
  width: 70%;
  height: auto;
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.cart__pay {
  width: 30%;
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 100px;

  height: 100%;
}
