.cart{
    padding-top: 80px;
    height: 100vh;
    display: flex;

}

.cart__items{
    width: 70%;
    height: 100%;
    padding: 1rem 5rem;

    display: flex;
    flex-direction: column;
    gap: 10px;

}

.cart__title{
    
    font-size: 2rem;
}

.cart__pay{
    width: 30%;
    height: 100%;
    background-color: #b9b8b8;
}