.navbar{
    position: fixed;
    width: 100%;
    height: 5rem;
    padding-inline: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    transition: 200ms;
    &:hover{
        background-color: rgb(255, 255, 255) !important;
        transition: 200ms;
    }

}