.recommendations__wrapper {
  width: 100%;
  padding: 2rem 10%;

  @media (max-width: 1024px) {
    padding: 2rem 0.5rem;
  }

  @media (max-width: 768px) {
    font-size: 0.8rem;
    padding: 2rem 0;

    button {
      font-size: 0.7rem;
    }
  }
}

.recommendations {
  /*     background-color: rgb(222, 218, 241); */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}
.recommendations__title {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  padding-bottom: 10px;
  border-bottom: 1px solid #00000073;
}

.recommendation {
  /* background-color: white; */
  display: flex;
  position: relative;
  border-radius: 15px;
  overflow: hidden;

  @media (max-width: 768px) {
    flex-direction: column;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }
  img {
    width: 35%;
    aspect-ratio: 1;
    left: 0;

    &.right {
      order: 1;
      @media (max-width: 768px) {
        order: 0;
      }
    }

    @media (max-width: 768px) {
      width: 100%;
    }
  }
}

.recommendation__info {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-bottom: 0;
}

.recommendation__top {
  flex: 3;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.recommendation__title {
  font-size: 4rem;

  @media (max-width: 768px) {
    font-size: 3rem;
  }
}
.recommendation__text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.4rem;

  &.right {
    text-align: right;
  }
}

.recommendation__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  margin-top: 10px;
  padding: 0px 2rem 0 0.5rem;

  @media (max-width: 768px) {
    padding-inline: 0.5rem;
  }
}

.recommendation__buy {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.buy__add {
  border-radius: 0.5rem;
  cursor: pointer;
  flex: 1;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  border: 2px solid white;
  border-radius: 1rem;
  padding-block: 0.2rem;
}

.recommendation__tags {
  display: flex;
  align-items: center;
  gap: 5px;
}
